<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="confirmationModalTitle"></h5>
            </div>
            <div class="modal-body">
                <div class="modal-message px-2 py-1"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-action="confirm">확인</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-action="cancel">취소</button>
            </div>
        </div>
    </div>
</div>