<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
     aria-labelledby="errorModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <span class="oi oi-bullhorn h5 text-danger mr-1"></span>
                <h5 class="modal-title text-danger" id="errorModalTitle"></h5>
            </div>
            <div class="modal-body">
                <div class="modal-message px-2 py-1"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>