<div class="modal" tabindex="-1" id="loadingModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body justify-content-center text-center px-4 py-4">
                <div class="spinner-border text-success h4"></div>
                <div class="h5 loading-text mt-3"></div>
            </div>
        </div>
    </div>
</div>