<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/app/favicon.ico">
    <title>client-app</title>
    @*<script src="node_modules/reflect-metadata/Reflect.js"></script>*@
    <link href="/css/customer~food-management~service-management.71a233fb.css" rel="prefetch">
    <link href="/css/nutrition-support.0cecc691.css" rel="prefetch">
    <link href="/js/config.bd01f743.js" rel="prefetch">
    <link href="/js/customer.433f0e1e.js" rel="prefetch">
    <link href="/js/customer~food-management~service-management.4af198ba.js" rel="prefetch">
    <link href="/js/dashboard.97d1de1b.js" rel="prefetch">
    <link href="/js/food-management.36b831a4.js" rel="prefetch">
    <link href="/js/lang-en-json.b5c30be9.js" rel="prefetch">
    <link href="/js/lang-ko-KR-json.1453abc3.js" rel="prefetch">
    <link href="/js/nutrition-support.4c90edf3.js" rel="prefetch">
    <link href="/js/report.0c3fdb9c.js" rel="prefetch">
    <link href="/js/service-management.bf5a4c81.js" rel="prefetch">
    <link href="/css/app.adc4baa7.css" rel="preload" as="style">
    <link href="/css/chunk-vendors.d40a0ce6.css" rel="preload" as="style">
    <link href="/js/app.6ebc7933.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.1abe7406.js" rel="preload" as="script">
    <link href="/css/chunk-vendors.d40a0ce6.css" rel="stylesheet">
    <link href="/css/app.adc4baa7.css" rel="stylesheet">
</head>
<body>
    <noscript><strong></strong> We're sorry but client-app doesn't work properly without JavaScript enabled. Please enable it to continue.</noscript>

    @RenderBody()

    @RenderSection("Scripts", required: false)
    @Html.RenderPartialSection("Scripts")
</body>
</html>