@Html.PartialSection("Scripts", @<script src="~/js/nutrition-support/foodCategoryList.js"></script>)

<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table id="foodCategoryTable" class="table table-hover text-center vertical-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" data-category="id">번호</th>
                        <th scope="col" data-category="name">이름</th>
                        <th scope="col" data-category="note" data-norender>노트</th>
                        <th scope="col">동작</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="sample-row d-none" data-sort="none">
                        <td scope="row"></td>
                        <td>
                            <a class="show-edit-dialog" href="#" data-render-target></a>
                        </td>
                        <td>
                            <button data-action="detail" type="button"
                                    class="btn btn-sm btn-outline-primary mr-md-2 d-block d-md-inline-block">
                                <span class="oi oi-magnifying-glass mr-1" aria-hidden="true"></span>
                                <span class="btn-text">보기</span>
                            </button>
                        </td>
                        <td>
                            <div>
                                <button data-action="delete" type="button"
                                        class="btn btn-sm btn-outline-danger d-block d-md-inline-block">
                                    <span class="oi oi-x mr-1" aria-hidden="true"></span>
                                    <span class="btn-text">제거</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <ul class="pagination tablePagination" data-target="#foodCategoryTable">
        <li class="page-item">
            <a class="page-link" aria-label="Previous" data-action="prev">
                <span class="oi oi-chevron-left" aria-hidden="true"></span>
            </a>
        </li>
        <li class="page-item page-link">
            <span class="page-text badge badge-pill badge-primary d-inline-block p-1">
            </span>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Next" data-action="next">
                <span class="oi oi-chevron-right" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>
<div class="row mt-2 justify-content-center">
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="btn-icon oi oi-magnifying-glass" aria-hidden="true"></span>
                <span class="d-none d-md-inline">검색</span>
            </button>

            <form class="form dropdown-menu px-4 pt-3 pb-2" name="searchFoodCategory" data-bind="table" data-target="#foodCategoryTable">
                <div class="form-group">
                    <label for="category">카테고리</label>
                    <select class="custom-select" data-role="category">
                        <option value="id">번호</option>
                        <option value="name">이름</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>검색</label>
                    <input type="search" class="form-control" placeholder="검색 필터" data-role="search-filter" data-action="filter" />
                </div>

            </form>
        </div>
    </div>
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-submain dropdown-toggle" type="button"
                    id="sortingSettingsDropdownBtn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="btn-icon oi oi-wrench" aria-hidden="true"></span>
                <span class="d-none d-md-inline">설정</span>
            </button>
            <form class="form dropdown-menu px-4 pt-3 pb-2" name="tableOptions"
                  data-target="#foodCategoryTable">
                <div class="form-group">
                    <label for="numItems">항목 수</label>
                    <input type="text" name="numItems" class="form-control numeric-only"
                           value="10" />
                </div>
                <div class="form-group">
                    <label for="criteria">정렬 기준</label>
                    <select class="custom-select" name="criteria">
                        <option value="id">번호</option>
                        <option value="name">이름</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="order">정렬 순서</label>
                    <select class="custom-select" name="order">
                        <option value="asc">오름차순</option>
                        <option value="desc">내림차순</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <a class="btn btn-primary w-100" data-action="save">저장</a>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_FoodCategoryDetailModal"
         model='new ModalViewModel
                {
                    Id = "addFoodCategoryModal",
                    Title = "새 음식 카테고리 추가",
                    FormName = "addFoodCategory",
                    TriggerAction = "resetForm",
                    Method = "POST",
                    SubmitUrl = "/api/nutrition-support/foods/categories/add"
                }.Attribute("add")' />

<partial name="_FoodCategoryDetailModal"
         model='new ModalViewModel
                {
                    Id = "editFoodCategoryModal",
                    Title = "음식 카테고리 정보 수정",
                    FormName = "editFoodCategory",
                    TriggerAction = "resetForm",
                    Method = "PUT",
                    SubmitUrl = "/api/nutrition-support/foods/categories/edit"
                }.Attribute("edit")' />