@{
    ViewData["Title"] = "Home Page";
    Layout = "_SpaLayout";
}

<div id="app"></div>

@section Scripts {
    <script src="/js/chunk-vendors.1abe7406.js"></script>
    <script src="/js/app.6ebc7933.js"></script>
}